In [1]:
# Dependencies
import pandas as pd

In [2]:
# File to load
filePath = "pokemon.csv"

In [6]:
# Read with Pandas
pokemon_df = pd.read_csv(filePath, encoding="ISO-8859-1")
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
#Getting rid of NaN
pokemon_df = pokemon_df.dropna(how="any")

# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"
pokemon_df_extract = pokemon_df[["Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", "Speed"]]
pokemon_df_extract.head()

  Type 1  HP  Attack  Sp. Atk  Sp. Def  Speed
0  Grass  45      49       65       65     45
1  Grass  60      62       80       80     60
2  Grass  80      82      100      100     80
3  Grass  80     100      122      120     80
6   Fire  78      84      109       85    100

In [20]:
# Create a dataframe of the average stats for each type of pokemon.
pokemon_avg_stats_df = (pokemon_df_extract.groupby(["Type 1"])).mean().sort_index()
pokemon_avg_stats_df

                 HP      Attack     Sp. Atk     Sp. Def      Speed
Type 1
Bug       58.134615   77.711538   58.634615   71.711538  66.173077
Dark      69.809524   88.190476   71.476190   73.238095  73.047619
Dragon    94.571429  122.571429  116.238095   97.857143  94.666667
Electric  59.470588   68.882353  108.882353   85.352941  84.470588
Fairy     70.000000   45.000000  100.000000  110.000000  60.000000
Fighting  66.142857   95.857143   82.571429   69.857143  88.285714
Fire      78.291667   92.166667  105.458333   80.166667  76.791667
Flying    62.500000   50.000000   71.000000   60.000000  89.000000
Ghost     71.318182   72.545455   82.045455   70.590909  69.500000
Grass     69.837838   77.135135   81.243243   75.351351  62.108108
Ground    80.000000  101.315789   62.421053   67.578947  68.842105
Ice       76.818182   69.090909   75.000000   69.090909  67.727273
Normal    70.972973   72.972973   56.432432   57.756757  75.000000
Poison    68.692308   77.461538   63.923077   67.307692  74.076923
Psychic   66.789474   84.473684   98.105263   94.052632  86.736842
Rock      64.914286   90.171429   69.200000   79.885714  61.828571
Steel     65.954545   93.318182   68.318182   78.045455  55.545455
Water     77.867925   76.735849   76.886792   76.622642  63.830189

In [29]:
# Calculate the total power level of each type of pokemon by adding all of the stats together.
# Place the results into a new column.
pokemon_avg_stats_df["Total Power"] = pokemon_avg_stats_df.sum(axis=1)
pokemon_avg_stats_df.reset_index(inplace=True)
pokemon_avg_stats_df

,Type 1,HP,Attack,Sp. Atk,Sp. Def,Speed,Total Power
0,Dragon,94.571429,122.571429,116.238095,97.857143,94.666667,1051.809524
1,Fire,78.291667,92.166667,105.458333,80.166667,76.791667,865.750000
2,Psychic,66.789474,84.473684,98.105263,94.052632,86.736842,860.315789
3,Electric,59.470588,68.882353,108.882353,85.352941,84.470588,814.117647
4,Fighting,66.142857,95.857143,82.571429,69.857143,88.285714,805.428571
5,Fairy,70.000000,45.000000,100.000000,110.000000,60.000000,770.000000
6,Ground,80.000000,101.315789,62.421053,67.578947,68.842105,760.315789
7,Dark,69.809524,88.190476,71.476190,73.238095,73.047619,751.523810
8,Water,77.867925,76.735849,76.886792,76.622642,63.830189,743.886792
9,Rock,64.914286,90.171429,69.200000,79.885714,61.828571,732.000000
10,Ghost,71.318182,72.545455,82.045455,70.590909,69.500000,732.000000
11,Grass,69.837838,77.135135,81.243243,75.351351,62.108108,731.351351
12,Steel,65.954545,93.318182,68.318182,78.045455,55.545455,722.363636
13,Ice,76.818182,69.090909,75.000000,69.090909,67.727273,715.454545
14,Poison,68.692308,77.461538,63.923077,67.307692,74.076923,702.923077
15,Normal,70.972973,72.972973,56.432432,57.756757,75.000000,666.270270
16,Flying,62.500000,50.000000,71.000000,60.000000,89.000000,665.000000
17,Bug,58.134615,77.711538,58.634615,71.711538,66.173077,664.730769

In [28]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.
pokemon_avg_stats_df = pokemon_avg_stats_df.sort_values(by=["Total Power"], ascending=False)